<html>
    <head>
        <title>search</title>
    <head>Enter a Name</head>
    <body>

        <form action="" method="post">
            {{ form.csrf }}

            <div class="input text">
                <!--{{ form.name.label }} -->{{ form.name(placeholder='Search') }}
            </div>

            <div class="input submit">
                <input type="submit" value="Submit" />
                <a href="http://127.0.0.1:5000/">back to search</a><br />
          <head>Name: </head>{{final[0]}}<br />
          <head>Height: </head>{{final[1]}}<br />
          <head>Mass: </head>{{final[2]}}<br />
          <head>Gender: </head>{{final[3]}}<br />
          <head>Birth Year: </head>{{final[4]}}<br />
          <head>Skin color: </head>{{final[5]}}<br />
          <head>Eye Color: </head>{{final[6]}}<br />

            </div>
        </form>
    </body>
</html>
