
<html>
    <head>
        <title>search</title>
    <head>Enter a Name</head>
    <body>

        <form action="" method="post">
            {{ form.csrf }}

            <div class="input text">
                {{ form.name.label }} {{ form.name }}
            </div>

            <div class="input submit">
                <input type="submit" value="Submit" />
                <a href="http://127.0.0.1:5000/">back to search</a>
        <head>Name:</head>      {{final}}
          <head>Height:</head>    {{hei}}
          <head>Gender:</head>    {{gen}}
          <head>Birth Year:</head>    {{year}}
            </div>
        </form>
    </body>
</html>
